body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.dz {
  margin: 20px;
  padding: 15px;
  background-color: antiquewhite;
  border-left: 2px solid #663636;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
